# the intersection case
> find the same items in list_a and list_b

> exist both

#### common for lop

In [1]:
list_a = ['a','b','c']
list_b = ['d','e','a']

In [5]:
for_matching = []
for a in list_a:
    for b in list_b:
        if a==b :
            for_matching.append(a)
for_matching

['a']

#### the set method

In [6]:
set_a = set(list_a)
set_a

{'a', 'b', 'c'}

In [8]:
set_b = set(list_b)
set_b

{'a', 'd', 'e'}

In [9]:
set_matching = set_a.intersection(set_b)
set_matching

{'a'}

### speed test

In [15]:
%%timeit -r3 -n3
for_matching = []
for a in list_a:
    for b in list_b:
        if a==b :
            for_matching.append(a)
for_matching

953 ns ± 221 ns per loop (mean ± std. dev. of 3 runs, 3 loops each)

In [23]:
%%timeit -r3 -n3
set_matching = set_a.intersection(set_b)
set_matching

424 ns ± 217 ns per loop (mean ± std. dev. of 3 runs, 3 loops each)

# the diff
> Find the Pokémon that Ash has and Misty does not have

    list_a = ['a','b','c']
    list_b = ['d','e','a']
    a.diff(b) = ['b','c']
    
    set_a = {'a', 'b', 'c'}
    set_b = {'a', 'd', 'e'}

#### set method

In [24]:
set_diff = set_a.difference(set_b)
set_diff

{'b', 'c'}

#### for loop method

In [27]:
for_diff = []
for a in list_a:
    if a not in list_b:
        for_diff.append(a)
for_diff

['b', 'c']

### speed test

In [29]:
%%timeit -r3 -n3
for_diff = []
for a in list_a:
    if a not in list_b:
        for_diff.append(a)
for_diff

1.44 µs ± 679 ns per loop (mean ± std. dev. of 3 runs, 3 loops each)

In [30]:
%%timeit -r3 -n3
set_diff = set_a.difference(set_b)
set_diff

471 ns ± 281 ns per loop (mean ± std. dev. of 3 runs, 3 loops each)

# the symmetric
>Find the Pokémon that are in only one set (not both)

    list_a = ['a','b','c']
    list_b = ['d','e','a']
    
    a.symmetric_diff(b) = ['b','c','d','e']

    set_a = {'a', 'b', 'c'}
    set_b = {'a', 'd', 'e'}

In [52]:
%%timeit -r3 -n3
set_sym_diff = set_a.symmetric_difference(set_b)
set_sym_diff

562 ns ± 317 ns per loop (mean ± std. dev. of 3 runs, 3 loops each)

In [53]:
%%timeit -r3 -n3
for_sym_diff = []
for a in list_a:
    for b in list_b:
        if a in list_b:
            continue
        if (a not in for_sym_diff) & (b not in for_sym_diff):
            for_sym_diff.append(a)
            for_sym_diff.append(b)
for_sym_diff

2.44 µs ± 485 ns per loop (mean ± std. dev. of 3 runs, 3 loops each)

# the union

    list_a = ['a','b','c']
    list_b = ['d','e','a']

    a.union(b) = ['a','b','c','d','e']

    set_a = {'a', 'b', 'c'}
    set_b = {'a', 'd', 'e'}

In [79]:
%%timeit -r3 -n3
set_union = set_a.union(set_b)
set_union

504 ns ± 266 ns per loop (mean ± std. dev. of 3 runs, 3 loops each)

In [78]:
%%timeit -r3 -n3
for_union = []
for a in list_a:
    for b in list_b:
        if (a not in for_union):
            for_union.append(a)
        if (b not in for_union):
            for_union.append(b)
for_union

1.91 µs ± 343 ns per loop (mean ± std. dev. of 3 runs, 3 loops each)

# finding use in, speed test

In [95]:
big_list = [*range(1000)]
big_tuple = tuple(big_list)
big_set = {*big_list}

In [97]:
%%timeit -r3 -n3
590 in big_list

12.6 µs ± 307 ns per loop (mean ± std. dev. of 3 runs, 3 loops each)

In [99]:
%%timeit -r3 -n3
590 in big_tuple

7.66 µs ± 178 ns per loop (mean ± std. dev. of 3 runs, 3 loops each)

In [98]:
%%timeit -r3 -n3
590 in big_set

241 ns ± 149 ns per loop (mean ± std. dev. of 3 runs, 3 loops each)

# distinct, unique

In [100]:
from random import randint as rnd

In [111]:
sample_list = ['a','b','c']
duplicate_list = []
for sample in range(1000):
    duplicate_list.append(sample_list[rnd(0,2)])

In [115]:
%%timeit -r3 -n3
unique_num = []
for num in duplicate_list:
    if num not in unique_num:
        unique_num.append(num)
unique_num

53.3 µs ± 356 ns per loop (mean ± std. dev. of 3 runs, 3 loops each)

In [116]:
%%timeit -r3 -n3
set(duplicate_list)

10.2 µs ± 244 ns per loop (mean ± std. dev. of 3 runs, 3 loops each)