# logging function

In [1]:
from datetime import datetime
import ipyparams

currentNotebook = ipyparams.notebook_name
split_name = currentNotebook.split(".")

target = split_name[0]
tmp_file = target + 'tmp.tmp'
log_file = target + '_log_file.txt'
target_file = target + '_transformed.csv'

def log(prioity,messenage):
    datetime_stamp = "%Y-%m-%d %H:%M:%S"
    now_time = datetime.now()
    datetime_log = now_time.strftime(datetime_stamp)
    with open(log_file,'a') as f:
        f.write(datetime_log + ',' + '[' + prioity + ']' + messenage + '\n')

In [ ]:
log("action","correct in load_ext sql")

# start to use sqlite3

In [2]:
%load_ext sql

In [3]:
import csv, sqlite3

con = sqlite3.connect("socieconomic.db")
cur = con.cursor()

In [4]:
%sql sqlite:///socioeconomic.db

In [ ]:
import pandas
df = pandas.read_csv('https://data.cityofchicago.org/resource/jcxq-k9xf.csv')
df.to_sql("chicago_socioeconomic_data", con, if_exists='replace', index=False,method="multi")

# query result

In [6]:
%%sql
SELECT * 
FROM chicago_socioeconomic_data
limit 5;

 * sqlite:///socioeconomic.db
Done.

[(1.0, 'Rogers Park', 7.7, 23.6, 8.7, 18.2, 27.5, 23939, 39.0),
 (2.0, 'West Ridge', 7.8, 17.2, 8.8, 20.8, 38.5, 23040, 46.0),
 (3.0, 'Uptown', 3.8, 24.0, 8.9, 11.8, 22.2, 35787, 20.0),
 (4.0, 'Lincoln Square', 3.4, 10.9, 8.2, 13.4, 25.5, 37524, 17.0),
 (5.0, 'North Center', 0.3, 7.5, 5.2, 4.5, 26.2, 57123, 6.0)]

In [7]:
query_result = cur.execute(""" SELECT * FROM chicago_socioeconomic_data limit 5;""")
print(query_result.fetchall())

[(1.0, 'Rogers Park', 7.7, 23.6, 8.7, 18.2, 27.5, 23939, 39.0), (2.0, 'West Ridge', 7.8, 17.2, 8.8, 20.8, 38.5, 23040, 46.0), (3.0, 'Uptown', 3.8, 24.0, 8.9, 11.8, 22.2, 35787, 20.0), (4.0, 'Lincoln Square', 3.4, 10.9, 8.2, 13.4, 25.5, 37524, 17.0), (5.0, 'North Center', 0.3, 7.5, 5.2, 4.5, 26.2, 57123, 6.0)]

# table exists

In [ ]:
%sql SELECT name FROM sqlite_schema WHERE type='table';

In [ ]:
result = cur.execute(""" SELECT name FROM sqlite_master WHERE type='table';""")
print(result.fetchall())

# put %load_ext sql into .to_sql()

In [ ]:
con2 = %sql sqlite:///socioeconomic.db
cur2 = con2.cursor()

In [ ]:
df.to_sql("chicago_socioeconomic_data", con2, if_exists='replace', index=False,method="multi")