In [2]:
#get table list in database
#getting list of tables in the database

# my method

In [1]:
#magic method
%sql SELECT name FROM sqlite_schema WHERE type='table';

In [ ]:
#sqlite3 method
result = cur.execute(""" SELECT name FROM sqlite_master WHERE type='table';""")
print(result.fetchall())

# Each database server used

    # IBM-DB2
    SYSCAT.TABLES

    # SQL server
    INFORMATION_SCHEMA.TABLES

    # Oracle
    ALL_TABLES
    USER_TABLES

# getting a list of columns

#### for example with DB2

    select * from syscat.columns
        where tabname = 'DOGS'

    #to obtain specific column properties
    select distinct(name), coltype, length
    from sysibm.syscolumns
    where tabname = 'DOGS