In [1]:
#select only word id, not Id or ID
selectQuery = 'select id from dogs'
#select all upper or lower case
selectQuery = 'select "id" from dogs'

In [2]:
#how to put 'string' into the query section ''
selecrtQuery = 'select "id" from dogs where "name_of_dog" = \'Huggy\' '

In [4]:
%load_ext sql

#how to split query into multi lines, in magic %sql
##without using %%sql, becuase %%sql can't make a variable
query = %sql select "id","name_of_dog" \
        from dogs \
        where "name_of_dog" = 'Huggy'

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])