# create baseball games info

In [1]:
import random, string
def strings_creator(len):
    '''this function can give you len random strings'''
    return ''.join(random.choice(string.ascii_letters) for i in range(len))
def random_strings_list(string_length,list_length):
    '''this function need combine strings_creator to make long list'''
    return [strings_creator(string_length) for i in range(list_length)]

In [8]:
import pandas as pd
from random import randint as rnd

datas

    team rnd_string(3)
    league AL,NL
    year 1962-2012
    RS 600-800
    RA 600-800
    W 50-99
    G 162 only
    Playoffs 0,1

# the vertical, column insert

In [47]:
df = pd.DataFrame(columns=['team','league','year','RS','RA','W','G','Playoffs'])

In [43]:
team = []
league = []
year = []
RS = []
RA = []
W_index = []
G_index = []
Playoffs = []
for data in range(1000):
    team.append(strings_creator(3))
    league.append(['AL','NL'][rnd(0,1)])
    year.append(rnd(1962,2013))
    RS.append(rnd(600,800))
    RA.append(rnd(600,800))
    W_index.append(rnd(50,99))
    G_index.append(162)
    Playoffs.append([0,1][rnd(0,1)])

In [49]:
df['team']=team
df['league']=league
df['year']=year
df['RS']=RS
df['RA']=RA
df['W']=W_index
df['G']=G_index
df['Playoffs']=Playoffs

In [50]:
df.head()

  team league  year   RS   RA   W    G  Playoffs
0  Fxm     NL  1964  696  601  51  162         1
1  MGA     AL  1984  705  683  79  162         1
2  uml     AL  2013  678  719  68  162         1
3  HgF     NL  1992  800  637  70  162         1
4  Nox     AL  1992  796  745  89  162         1

# the horizontal, row insert

In [117]:
df_zip = pd.DataFrame()

In [118]:
zip_data = zip(team,league,year,RS,RA,W_index,G_index,Playoffs)

In [119]:
list_data = list(zip_data)

In [120]:
df_zip = pd.DataFrame(list_data,columns=['team','league','year','RS','RA','W','G','Playoffs'])

In [121]:
df_zip.head()

  team league  year   RS   RA   W    G  Playoffs
0  Fxm     NL  1964  696  601  51  162         1
1  MGA     AL  1984  705  683  79  162         1
2  uml     AL  2013  678  719  68  162         1
3  HgF     NL  1992  800  637  70  162         1
4  Nox     AL  1992  796  745  89  162         1