In [1]:
import random, string
import pandas as pd
from random import randint as rnd

def strings_creator(len):
    '''this function can give you len random strings'''
    return ''.join(random.choice(string.ascii_letters) for i in range(len))
def random_strings_list(string_length,list_length):
    '''this function need combine strings_creator to make long list'''
    return [strings_creator(string_length) for i in range(list_length)]

team = []
league = []
year = []
RS = []
RA = []
W_index = []
G_index = []
Playoffs = []
for data in range(1000):
    team.append(strings_creator(3))
    league.append(['AL','NL'][rnd(0,1)])
    year.append(rnd(1962,2013))
    RS.append(rnd(600,800))
    RA.append(rnd(600,800))
    W_index.append(rnd(50,99))
    G_index.append(162)
    Playoffs.append([0,1][rnd(0,1)])
    
df_zip = pd.DataFrame()
zip_data = zip(team,league,year,RS,RA,W_index,G_index,Playoffs)
list_data = list(zip_data)
df_zip = pd.DataFrame(list_data,columns=['team','league','year','RS','RA','W','G','Playoffs'])

# Objectives

    add new column by
    calulate using function
    
    for loop method:
        read each row, than using function
        append into new list
        add new column in dataframe

In [2]:
def calc_diff(a, b):
    diff = a - b
    return diff

## for loop method

In [4]:
diff_temp=[]

for row in df_zip.itertuples():
    run_score = row.RS
    run_allowed = row.RA
    run_diff = calc_diff(run_score, run_allowed)
    diff_temp.append(run_diff)

df_zip['diff_RS_RA']=diff_temp
df_zip.head()

  team league  year   RS   RA   W    G  Playoffs  diff_RS_RA
0  MeS     NL  1962  683  683  72  162         0           0
1  cIg     NL  1986  600  707  95  162         1        -107
2  uln     AL  2009  782  786  66  162         0          -4
3  htc     AL  1990  620  627  90  162         1          -7
4  ojM     AL  1999  623  794  73  162         0        -171

## apply method

#### axis

axis=0, horizontal

In [7]:
df_zip.apply(
    lambda row:1,
    axis=0
)

team          1
league        1
year          1
RS            1
RA            1
W             1
G             1
Playoffs      1
diff_RS_RA    1
dtype: int64

axis=1, vertical

In [9]:
df_zip.apply(
    lambda row:1,
    axis=1
)

0      1
1      1
2      1
3      1
4      1
      ..
995    1
996    1
997    1
998    1
999    1
Length: 1000, dtype: int64

#### add lambda calculate

In [12]:
df_zip.apply(
    lambda row: calc_diff(row.RS,row.RA),
    axis=1
)

0        0
1     -107
2       -4
3       -7
4     -171
      ...
995     14
996    -68
997     36
998     88
999     72
Length: 1000, dtype: int64

#### put into dataframe

In [14]:
apply_result = df_zip.apply(
    lambda row: calc_diff(row.RS,row.RA),
    axis=1
)
df_zip['apply_result']=apply_result
df_zip.head()

  team league  year   RS   RA   W    G  Playoffs  diff_RS_RA  apply_result
0  MeS     NL  1962  683  683  72  162         0           0             0
1  cIg     NL  1986  600  707  95  162         1        -107          -107
2  uln     AL  2009  782  786  66  162         0          -4            -4
3  htc     AL  1990  620  627  90  162         1          -7            -7
4  ojM     AL  1999  623  794  73  162         0        -171          -171