In [1]:
import random, string
import pandas as pd
from random import randint as rnd

def strings_creator(len):
    '''this function can give you len random strings'''
    return ''.join(random.choice(string.ascii_letters) for i in range(len))
def random_strings_list(string_length,list_length):
    '''this function need combine strings_creator to make long list'''
    return [strings_creator(string_length) for i in range(list_length)]

team = []
league = []
year = []
RS = []
RA = []
W_index = []
G_index = []
Playoffs = []
for data in range(1000):
    team.append(strings_creator(3))
    league.append(['AL','NL'][rnd(0,1)])
    year.append(rnd(1962,2013))
    RS.append(rnd(600,800))
    RA.append(rnd(600,800))
    W_index.append(rnd(50,99))
    G_index.append(162)
    Playoffs.append([0,1][rnd(0,1)])
    
df_zip = pd.DataFrame()
zip_data = zip(team,league,year,RS,RA,W_index,G_index,Playoffs)
list_data = list(zip_data)
df_zip = pd.DataFrame(list_data,columns=['team','league','year','RS','RA','W','G','Playoffs'])

In [5]:
%%timeit -r3 -n1
for row_tuple in df_zip.iterrows():
    row_tuple

46.3 ms ± 12.2 ms per loop (mean ± std. dev. of 3 runs, 1 loop each)

In [8]:
%%timeit -r3 -n1
for row_namedtuple in df_zip.itertuples():
    row_tuple

2.11 ms ± 121 µs per loop (mean ± std. dev. of 3 runs, 1 loop each)

#### study

In [15]:
list(df_zip.iterrows())

[(0,
  team         QGG
  league        NL
  year        2011
  RS           605
  RA           727
  W             62
  G            162
  Playoffs       0
  Name: 0, dtype: object),
 (1,
  team         dIf
  league        NL
  year        1995
  RS           653
  RA           658
  W             92
  G            162
  Playoffs       1
  Name: 1, dtype: object),
 (2,
  team         fyh
  league        AL
  year        1966
  RS           790
  RA           655
  W             73
  G            162
  Playoffs       0
  Name: 2, dtype: object),
 (3,
  team         fqC
  league        NL
  year        2007
  RS           606
  RA           761
  W             83
  G            162
  Playoffs       1
  Name: 3, dtype: object),
 (4,
  team         OdN
  league        AL
  year        1994
  RS           672
  RA           700
  W             69
  G            162
  Playoffs       1
  Name: 4, dtype: object),
 (5,
  team         nLU
  league        NL
  year        2013
  RS           664
  RA           793
  W             90
  G            162
  Playoffs       0
  Name: 5, dtype: object),
 (6,
  team         rPS
  league        AL
  year        1974
  RS           745
  RA           733
  W             82
  G            162
  Playoffs       0
  Name: 6, dtype: object),
 (7,
  team         rdR
  league        AL
  year        1978
  RS           713
  RA           754
  W             83
  G            162
  Playoffs       1
  Name: 7, dtype: object),
 (8,
  team         Shg
  league        AL
  year        1982
  RS           705
  RA           652
  W             50
  G            162
  Playoffs       0
  Name: 8, dtype: object),
 (9,
  team         SXm
  league        AL
  year        2011
  RS           612
  RA           775
  W             65
  G            162
  Playoffs       1
  Name: 9, dtype: object),
 (10,
  team         iQG
  league        NL
  year        1996
  RS           778
  RA           792
  W             79
  G            162
  Playoffs       1
  Name: 10, dtype: object),
 (11,
  team         cvQ
  league        NL
  year        1988
  RS           688
  RA           673
  W             64
  G            162
  Playoffs       1
  Name: 11, dtype: object),
 (12,
  team         nNq
  league        NL
  year        1967
  RS           776
  RA           702
  W             76
  G            162
  Playoffs       1
  Name: 12, dtype: object),
 (13,
  team         Jax
  league        NL
  year        1979
  RS           691
  RA           722
  W             97
  G            162
  Playoffs       0
  Name: 13, dtype: object),
 (14,
  team         Nrf
  league        AL
  year        1979
  RS           667
  RA           683
  W             78
  G            162
  Playoffs       1
  Name: 14, dtype: object),
 (15,
  team         Qar
  league        AL
  year        2001
  RS           771
  RA           608
  W             50
  G            162
  Playoffs       1
  Name: 15, dtype: object),
 (16,
  team         dbM
  league        AL
  year        2002
  RS           613
  RA           617
  W             59
  G            162
  Playoffs       0
  Name: 16, dtype: object),
 (17,
  team         ykJ
  league        NL
  year        2004
  RS           658
  RA           646
  W             79
  G            162
  Playoffs       1
  Name: 17, dtype: object),
 (18,
  team         PPX
  league        AL
  year        1980
  RS           789
  RA           690
  W             70
  G            162
  Playoffs       0
  Name: 18, dtype: object),
 (19,
  team         dft
  league        AL
  year        1980
  RS           607
  RA           766
  W             84
  G            162
  Playoffs       1
  Name: 19, dtype: object),
 (20,
  team         nYI
  league        AL
  year        1993
  RS           651
  RA           698
  W             77
  G            162
  Playoffs       1
  Name: 20, dtype: object),
 (21,
  team         mcf
  league        NL
  year        1978
  RS           701
  RA           662
  W             81
  G            162
  Playoffs       1
  Name: 21, dtype: object),
 (22,
  team         aQY
  league        NL
  year        1962
  RS           760
  RA           781
  W             58
  G            162
  Playoffs       1
  Name: 22, dtype: object),
 (23,
  team         oyH
  league        AL
  year        1987
  RS           741
  RA           717
  W             99
  G            162
  Playoffs       1
  Name: 23, dtype: object),
 (24,
  team         Tya
  league        AL
  year        1981
  RS           610
  RA           712
  W             88
  G            162
  Playoffs       1
  Name: 24, dtype: object),
 (25,
  team         dpw
  league        AL
  year        1986
  RS           680
  RA           748
  W             82
  G            162
  Playoffs       1
  Name: 25, dtype: object),
 (26,
  team         arL
  league        NL
  year        1998
  RS           622
  RA           752
  W             68
  G            162
  Playoffs       1
  Name: 26, dtype: object),
 (27,
  team         Stn
  league        AL
  year        1999
  RS           750
  RA           755
  W             72
  G            162
  Playoffs       0
  Name: 27, dtype: object),
 (28,
  team         eup
  league        AL
  year        2002
  RS           748
  RA           645
  W             53
  G            162
  Playoffs       1
  Name: 28, dtype: object),
 (29,
  team         bWj
  league        AL
  year        1984
  RS           628
  RA           682
  W             63
  G            162
  Playoffs       1
  Name: 29, dtype: object),
 (30,
  team         xqT
  league        NL
  year        1976
  RS           791
  RA           770
  W             93
  G            162
  Playoffs       0
  Name: 30, dtype: object),
 (31,
  team         TuL
  league        NL
  year        2001
  RS           760
  RA           621
  W             94
  G            162
  Playoffs       1
  Name: 31, dtype: object),
 (32,
  team         ydM
  league        AL
  year        1994
  RS           683
  RA           765
  W             99
  G            162
  Playoffs       1
  Name: 32, dtype: object),
 (33,
  team         upD
  league        NL
  year        2000
  RS           787
  RA           707
  W             86
  G            162
  Playoffs       0
  Name: 33, dtype: object),
 (34,
  team         CPL
  league        AL
  year        1986
  RS           656
  RA           738
  W             83
  G            162
  Playoffs       1
  Name: 34, dtype: object),
 (35,
  team         Kvs
  league        AL
  year        1965
  RS           776
  RA           798
  W             93
  G            162
  Playoffs       1
  Name: 35, dtype: object),
 (36,
  team         afJ
  league        NL
  year        2011
  RS           722
  RA           788
  W             70
  G            162
  Playoffs       0
  Name: 36, dtype: object),
 (37,
  team         hny
  league        AL
  year        1973
  RS           771
  RA           765
  W             71
  G            162
  Playoffs       1
  Name: 37, dtype: object),
 (38,
  team         aBQ
  league        NL
  year        1978
  RS           718
  RA           755
  W             88
  G            162
  Playoffs       1
  Name: 38, dtype: object),
 (39,
  team         ELi
  league        NL
  year        2012
  RS           722
  RA           718
  W             61
  G            162
  Playoffs       0
  Name: 39, dtype: object),
 (40,
  team         aAt
  league        AL
  year        1962
  RS           756
  RA           683
  W             81
  G            162
  Playoffs       1
  Name: 40, dtype: object),
 (41,
  team         DyU
  league        NL
  year        1964
  RS           765
  RA           785
  W             71
  G            162
  Playoffs       1
  Name: 41, dtype: object),
 (42,
  team         rNW
  league        AL
  year        1988
  RS           741
  RA           757
  W             96
  G            162
  Playoffs       0
  Name: 42, dtype: object),
 (43,
  team         pIS
  league        NL
  year        1990
  RS           777
  RA           679
  W             62
  G            162
  Playoffs       1
  Name: 43, dtype: object),
 (44,
  team         FeZ
  league        AL
  year        1997
  RS           771
  RA           683
  W             54
  G            162
  Playoffs       0
  Name: 44, dtype: object),
 (45,
  team         oDk
  league        NL
  year        2003
  RS           738
  RA           741
  W             72
  G            162
  Playoffs       1
  Name: 45, dtype: object),
 (46,
  team         yrE
  league        AL
  year        1974
  RS           687
  RA           782
  W             99
  G            162
  Playoffs       0
  Name: 46, dtype: object),
 (47,
  team         xyA
  league        AL
  year        2009
  RS           736
  RA           653
  W             69
  G            162
  Playoffs       0
  Name: 47, dtype: object),
 (48,
  team         iKM
  league        AL
  year        1973
  RS           790
  RA           694
  W             57
  G            162
  Playoffs       1
  Name: 48, dtype: object),
 (49,
  team         RFP
  league        NL
  year        2005
  RS           623
  RA           727
  W             86
  G            162
  Playoffs       0
  Name: 49, dtype: object),
 (50,
  team         IzU
  league        AL
  year        1972
  RS           765
  RA           655
  W             85
  G            162
  Playoffs       1
  Name: 50, dtype: object),
 (51,
  team         PXS
  league        NL
  year        1999
  RS           706
  RA           636
  W             57
  G            162
  Playoffs       0
  Name: 51, dtype: object),
 (52,
  team         Rud
  league        AL
  year        2012
  RS           796
  RA           718
  W             97
  G            162
  Playoffs       1
  Name: 52, dtype: object),
 (53,
  team         rUm
  league        NL
  year        1983
  RS           785
  RA           619
  W             51
  G            162
  Playoffs       0
  Name: 53, dtype: object),
 (54,
  team         zYI
  league        NL
  year        1971
  RS           608
  RA           774
  W             94
  G            162
  Playoffs       0
  Name: 54, dtype: object),
 (55,
  team         xZg
  league        AL
  year        1971
  RS           685
  RA           739
  W             87
  G            162
  Playoffs       0
  Name: 55, dtype: object),
 (56,
  team         VnP
  league        AL
  year        2004
  RS           745
  RA           745
  W             77
  G            162
  Playoffs       0
  Name: 56, dtype: object),
 (57,
  team         nEm
  league        NL
  year        1977
  RS           608
  RA           769
  W             61
  G            162
  Playoffs       1
  Name: 57, dtype: object),
 (58,
  team         Lqf
  league        NL
  year        1978
  RS           666
  RA           703
  W             98
  G            162
  Playoffs       0
  Name: 58, dtype: object),
 (59,
  team         klJ
  league        NL
  year        1998
  RS           738
  RA           727
  W             90
  G            162
  Playoffs       0
  Name: 59, dtype: object),
 (60,
  team         CyZ
  league        AL
  year        1975
  RS           692
  RA           726
  W             77
  G            162
  Playoffs       0
  Name: 60, dtype: object),
 (61,
  team         jMR
  league        NL
  year        1976
  RS           730
  RA           747
  W             95
  G            162
  Playoffs       0
  Name: 61, dtype: object),
 (62,
  team         uFd
  league        AL
  year        1972
  RS           653
  RA           721
  W             94
  G            162
  Playoffs       1
  Name: 62, dtype: object),
 (63,
  team         fde
  league        NL
  year        2007
  RS           707
  RA           714
  W             74
  G            162
  Playoffs       0
  Name: 63, dtype: object),
 (64,
  team         YPj
  league        AL
  year        2000
  RS           748
  RA           623
  W             60
  G            162
  Playoffs       1
  Name: 64, dtype: object),
 (65,
  team         exd
  league        NL
  year        1979
  RS           740
  RA           705
  W             77
  G            162
  Playoffs       0
  Name: 65, dtype: object),
 (66,
  team         whR
  league        AL
  year        1976
  RS           679
  RA           679
  W             89
  G            162
  Playoffs       1
  Name: 66, dtype: object),
 (67,
  team         PPP
  league        NL
  year        1962
  RS           669
  RA           750
  W             92
  G            162
  Playoffs       0
  Name: 67, dtype: object),
 (68,
  team         GuM
  league        NL
  year        1998
  RS           708
  RA           659
  W             73
  G            162
  Playoffs       1
  Name: 68, dtype: object),
 (69,
  team         hgk
  league        AL
  year        2004
  RS           617
  RA           710
  W             60
  G            162
  Playoffs       0
  Name: 69, dtype: object),
 (70,
  team         hfC
  league        NL
  year        1963
  RS           693
  RA           678
  W             57
  G            162
  Playoffs       1
  Name: 70, dtype: object),
 (71,
  team         gah
  league        NL
  year        1962
  RS           752
  RA           790
  W             71
  G            162
  Playoffs       1
  Name: 71, dtype: object),
 (72,
  team         NUu
  league        NL
  year        1991
  RS           731
  RA           619
  W             68
  G            162
  Playoffs       0
  Name: 72, dtype: object),
 (73,
  team         Vas
  league        NL
  year        1993
  RS           674
  RA           660
  W             82
  G            162
  Playoffs       1
  Name: 73, dtype: object),
 (74,
  team         Qha
  league        AL
  year        1997
  RS           733
  RA           737
  W             93
  G            162
  Playoffs       0
  Name: 74, dtype: object),
 (75,
  team         hsz
  league        AL
  year        1967
  RS           722
  RA           689
  W             86
  G            162
  Playoffs       0
  Name: 75, dtype: object),
 (76,
  team         JYk
  league        AL
  year        2002
  RS           602
  RA           708
  W             50
  G            162
  Playoffs       1
  Name: 76, dtype: object),
 (77,
  team         pxz
  league        AL
  year        2002
  RS           764
  RA           680
  W             53
  G            162
  Playoffs       0
  Name: 77, dtype: object),
 (78,
  team         lco
  league        AL
  year        1979
  RS           743
  RA           736
  W             61
  G            162
  Playoffs       1
  Name: 78, dtype: object),
 (79,
  team         omS
  league        AL
  year        1985
  RS           709
  RA           770
  W             86
  G            162
  Playoffs       0
  Name: 79, dtype: object),
 (80,
  team         oVc
  league        NL
  year        1982
  RS           786
  RA           776
  W             57
  G            162
  Playoffs       0
  Name: 80, dtype: object),
 (81,
  team         SCP
  league        AL
  year        1974
  RS           791
  RA           778
  W             91
  G            162
  Playoffs       1
  Name: 81, dtype: object),
 (82,
  team         trN
  league        AL
  year        1988
  RS           698
  RA           644
  W             69
  G            162
  Playoffs       0
  Name: 82, dtype: object),
 (83,
  team         AOE
  league        AL
  year        1976
  RS           723
  RA           617
  W             77
  G            162
  Playoffs       0
  Name: 83, dtype: object),
 (84,
  team         ZvF
  league        AL
  year        2000
  RS           760
  RA           669
  W             81
  G            162
  Playoffs       0
  Name: 84, dtype: object),
 (85,
  team         Ttm
  league        AL
  year        1982
  RS           679
  RA           672
  W             76
  G            162
  Playoffs       1
  Name: 85, dtype: object),
 (86,
  team         QQA
  league        NL
  year        2005
  RS           768
  RA           760
  W             55
  G            162
  Playoffs       0
  Name: 86, dtype: object),
 (87,
  team         xqz
  league        AL
  year        1965
  RS           776
  RA           797
  W             91
  G            162
  Playoffs       1
  Name: 87, dtype: object),
 (88,
  team         kML
  league        AL
  year        1995
  RS           648
  RA           722
  W             51
  G            162
  Playoffs       0
  Name: 88, dtype: object),
 (89,
  team         geF
  league        AL
  year        1972
  RS           606
  RA           683
  W             67
  G            162
  Playoffs       0
  Name: 89, dtype: object),
 (90,
  team         zVf
  league        NL
  year        1992
  RS           738
  RA           711
  W             80
  G            162
  Playoffs       1
  Name: 90, dtype: object),
 (91,
  team         nYE
  league        NL
  year        1995
  RS           780
  RA           758
  W             77
  G            162
  Playoffs       1
  Name: 91, dtype: object),
 (92,
  team         yDg
  league        NL
  year        1969
  RS           655
  RA           789
  W             93
  G            162
  Playoffs       1
  Name: 92, dtype: object),
 (93,
  team         WEW
  league        AL
  year        1998
  RS           758
  RA           613
  W             66
  G            162
  Playoffs       1
  Name: 93, dtype: object),
 (94,
  team         Key
  league        NL
  year        2007
  RS           795
  RA           742
  W             52
  G            162
  Playoffs       1
  Name: 94, dtype: object),
 (95,
  team         sVO
  league        NL
  year        2007
  RS           737
  RA           695
  W             64
  G            162
  Playoffs       1
  Name: 95, dtype: object),
 (96,
  team         Pss
  league        AL
  year        1988
  RS           653
  RA           700
  W             88
  G            162
  Playoffs       1
  Name: 96, dtype: object),
 (97,
  team         csb
  league        AL
  year        1998
  RS           712
  RA           768
  W             99
  G            162
  Playoffs       1
  Name: 97, dtype: object),
 (98,
  team         aVb
  league        NL
  year        1989
  RS           608
  RA           696
  W             50
  G            162
  Playoffs       0
  Name: 98, dtype: object),
 (99,
  team         elZ
  league        AL
  year        1982
  RS           747
  RA           789
  W             56
  G            162
  Playoffs       1
  Name: 99, dtype: object),
 (100,
  team         Gaq
  league        NL
  year        1994
  RS           759
  RA           730
  W             72
  G            162
  Playoffs       0
  Name: 100, dtype: object),
 (101,
  team         QBE
  league        AL
  year        2000
  RS           789
  RA           756
  W             59
  G            162
  Playoffs       0
  Name: 101, dtype: object),
 (102,
  team         Gys
  league        NL
  year        1966
  RS           609
  RA           774
  W             71
  G            162
  Playoffs       1
  Name: 102, dtype: object),
 (103,
  team         iJt
  league        AL
  year        1967
  RS           635
  RA           727
  W             77
  G            162
  Playoffs       1
  Name: 103, dtype: object),
 (104,
  team         WTh
  league        NL
  year        1979
  RS           739
  RA           752
  W             99
  G            162
  Playoffs       1
  Name: 104, dtype: object),
 (105,
  team         DqE
  league        NL
  year        1965
  RS           671
  RA           732
  W             94
  G            162
  Playoffs       0
  Name: 105, dtype: object),
 (106,
  team         yjO
  league        AL
  year        1996
  RS           625
  RA           664
  W             78
  G            162
  Playoffs       1
  Name: 106, dtype: object),
 (107,
  team         rog
  league        AL
  year        1964
  RS           734
  RA           747

In [16]:
list(df_zip.itertuples())

[Pandas(Index=0, team='QGG', league='NL', year=2011, RS=605, RA=727, W=62, G=162, Playoffs=0),
 Pandas(Index=1, team='dIf', league='NL', year=1995, RS=653, RA=658, W=92, G=162, Playoffs=1),
 Pandas(Index=2, team='fyh', league='AL', year=1966, RS=790, RA=655, W=73, G=162, Playoffs=0),
 Pandas(Index=3, team='fqC', league='NL', year=2007, RS=606, RA=761, W=83, G=162, Playoffs=1),
 Pandas(Index=4, team='OdN', league='AL', year=1994, RS=672, RA=700, W=69, G=162, Playoffs=1),
 Pandas(Index=5, team='nLU', league='NL', year=2013, RS=664, RA=793, W=90, G=162, Playoffs=0),
 Pandas(Index=6, team='rPS', league='AL', year=1974, RS=745, RA=733, W=82, G=162, Playoffs=0),
 Pandas(Index=7, team='rdR', league='AL', year=1978, RS=713, RA=754, W=83, G=162, Playoffs=1),
 Pandas(Index=8, team='Shg', league='AL', year=1982, RS=705, RA=652, W=50, G=162, Playoffs=0),
 Pandas(Index=9, team='SXm', league='AL', year=2011, RS=612, RA=775, W=65, G=162, Playoffs=1),
 Pandas(Index=10, team='iQG', league='NL', year=1996, RS=778, RA=792, W=79, G=162, Playoffs=1),
 Pandas(Index=11, team='cvQ', league='NL', year=1988, RS=688, RA=673, W=64, G=162, Playoffs=1),
 Pandas(Index=12, team='nNq', league='NL', year=1967, RS=776, RA=702, W=76, G=162, Playoffs=1),
 Pandas(Index=13, team='Jax', league='NL', year=1979, RS=691, RA=722, W=97, G=162, Playoffs=0),
 Pandas(Index=14, team='Nrf', league='AL', year=1979, RS=667, RA=683, W=78, G=162, Playoffs=1),
 Pandas(Index=15, team='Qar', league='AL', year=2001, RS=771, RA=608, W=50, G=162, Playoffs=1),
 Pandas(Index=16, team='dbM', league='AL', year=2002, RS=613, RA=617, W=59, G=162, Playoffs=0),
 Pandas(Index=17, team='ykJ', league='NL', year=2004, RS=658, RA=646, W=79, G=162, Playoffs=1),
 Pandas(Index=18, team='PPX', league='AL', year=1980, RS=789, RA=690, W=70, G=162, Playoffs=0),
 Pandas(Index=19, team='dft', league='AL', year=1980, RS=607, RA=766, W=84, G=162, Playoffs=1),
 Pandas(Index=20, team='nYI', league='AL', year=1993, RS=651, RA=698, W=77, G=162, Playoffs=1),
 Pandas(Index=21, team='mcf', league='NL', year=1978, RS=701, RA=662, W=81, G=162, Playoffs=1),
 Pandas(Index=22, team='aQY', league='NL', year=1962, RS=760, RA=781, W=58, G=162, Playoffs=1),
 Pandas(Index=23, team='oyH', league='AL', year=1987, RS=741, RA=717, W=99, G=162, Playoffs=1),
 Pandas(Index=24, team='Tya', league='AL', year=1981, RS=610, RA=712, W=88, G=162, Playoffs=1),
 Pandas(Index=25, team='dpw', league='AL', year=1986, RS=680, RA=748, W=82, G=162, Playoffs=1),
 Pandas(Index=26, team='arL', league='NL', year=1998, RS=622, RA=752, W=68, G=162, Playoffs=1),
 Pandas(Index=27, team='Stn', league='AL', year=1999, RS=750, RA=755, W=72, G=162, Playoffs=0),
 Pandas(Index=28, team='eup', league='AL', year=2002, RS=748, RA=645, W=53, G=162, Playoffs=1),
 Pandas(Index=29, team='bWj', league='AL', year=1984, RS=628, RA=682, W=63, G=162, Playoffs=1),
 Pandas(Index=30, team='xqT', league='NL', year=1976, RS=791, RA=770, W=93, G=162, Playoffs=0),
 Pandas(Index=31, team='TuL', league='NL', year=2001, RS=760, RA=621, W=94, G=162, Playoffs=1),
 Pandas(Index=32, team='ydM', league='AL', year=1994, RS=683, RA=765, W=99, G=162, Playoffs=1),
 Pandas(Index=33, team='upD', league='NL', year=2000, RS=787, RA=707, W=86, G=162, Playoffs=0),
 Pandas(Index=34, team='CPL', league='AL', year=1986, RS=656, RA=738, W=83, G=162, Playoffs=1),
 Pandas(Index=35, team='Kvs', league='AL', year=1965, RS=776, RA=798, W=93, G=162, Playoffs=1),
 Pandas(Index=36, team='afJ', league='NL', year=2011, RS=722, RA=788, W=70, G=162, Playoffs=0),
 Pandas(Index=37, team='hny', league='AL', year=1973, RS=771, RA=765, W=71, G=162, Playoffs=1),
 Pandas(Index=38, team='aBQ', league='NL', year=1978, RS=718, RA=755, W=88, G=162, Playoffs=1),
 Pandas(Index=39, team='ELi', league='NL', year=2012, RS=722, RA=718, W=61, G=162, Playoffs=0),
 Pandas(Index=40, team='aAt', league='AL', year=1962, RS=756, RA=683, W=81, G=162, Playoffs=1),
 Pandas(Index=41, team='DyU', league='NL', year=1964, RS=765, RA=785, W=71, G=162, Playoffs=1),
 Pandas(Index=42, team='rNW', league='AL', year=1988, RS=741, RA=757, W=96, G=162, Playoffs=0),
 Pandas(Index=43, team='pIS', league='NL', year=1990, RS=777, RA=679, W=62, G=162, Playoffs=1),
 Pandas(Index=44, team='FeZ', league='AL', year=1997, RS=771, RA=683, W=54, G=162, Playoffs=0),
 Pandas(Index=45, team='oDk', league='NL', year=2003, RS=738, RA=741, W=72, G=162, Playoffs=1),
 Pandas(Index=46, team='yrE', league='AL', year=1974, RS=687, RA=782, W=99, G=162, Playoffs=0),
 Pandas(Index=47, team='xyA', league='AL', year=2009, RS=736, RA=653, W=69, G=162, Playoffs=0),
 Pandas(Index=48, team='iKM', league='AL', year=1973, RS=790, RA=694, W=57, G=162, Playoffs=1),
 Pandas(Index=49, team='RFP', league='NL', year=2005, RS=623, RA=727, W=86, G=162, Playoffs=0),
 Pandas(Index=50, team='IzU', league='AL', year=1972, RS=765, RA=655, W=85, G=162, Playoffs=1),
 Pandas(Index=51, team='PXS', league='NL', year=1999, RS=706, RA=636, W=57, G=162, Playoffs=0),
 Pandas(Index=52, team='Rud', league='AL', year=2012, RS=796, RA=718, W=97, G=162, Playoffs=1),
 Pandas(Index=53, team='rUm', league='NL', year=1983, RS=785, RA=619, W=51, G=162, Playoffs=0),
 Pandas(Index=54, team='zYI', league='NL', year=1971, RS=608, RA=774, W=94, G=162, Playoffs=0),
 Pandas(Index=55, team='xZg', league='AL', year=1971, RS=685, RA=739, W=87, G=162, Playoffs=0),
 Pandas(Index=56, team='VnP', league='AL', year=2004, RS=745, RA=745, W=77, G=162, Playoffs=0),
 Pandas(Index=57, team='nEm', league='NL', year=1977, RS=608, RA=769, W=61, G=162, Playoffs=1),
 Pandas(Index=58, team='Lqf', league='NL', year=1978, RS=666, RA=703, W=98, G=162, Playoffs=0),
 Pandas(Index=59, team='klJ', league='NL', year=1998, RS=738, RA=727, W=90, G=162, Playoffs=0),
 Pandas(Index=60, team='CyZ', league='AL', year=1975, RS=692, RA=726, W=77, G=162, Playoffs=0),
 Pandas(Index=61, team='jMR', league='NL', year=1976, RS=730, RA=747, W=95, G=162, Playoffs=0),
 Pandas(Index=62, team='uFd', league='AL', year=1972, RS=653, RA=721, W=94, G=162, Playoffs=1),
 Pandas(Index=63, team='fde', league='NL', year=2007, RS=707, RA=714, W=74, G=162, Playoffs=0),
 Pandas(Index=64, team='YPj', league='AL', year=2000, RS=748, RA=623, W=60, G=162, Playoffs=1),
 Pandas(Index=65, team='exd', league='NL', year=1979, RS=740, RA=705, W=77, G=162, Playoffs=0),
 Pandas(Index=66, team='whR', league='AL', year=1976, RS=679, RA=679, W=89, G=162, Playoffs=1),
 Pandas(Index=67, team='PPP', league='NL', year=1962, RS=669, RA=750, W=92, G=162, Playoffs=0),
 Pandas(Index=68, team='GuM', league='NL', year=1998, RS=708, RA=659, W=73, G=162, Playoffs=1),
 Pandas(Index=69, team='hgk', league='AL', year=2004, RS=617, RA=710, W=60, G=162, Playoffs=0),
 Pandas(Index=70, team='hfC', league='NL', year=1963, RS=693, RA=678, W=57, G=162, Playoffs=1),
 Pandas(Index=71, team='gah', league='NL', year=1962, RS=752, RA=790, W=71, G=162, Playoffs=1),
 Pandas(Index=72, team='NUu', league='NL', year=1991, RS=731, RA=619, W=68, G=162, Playoffs=0),
 Pandas(Index=73, team='Vas', league='NL', year=1993, RS=674, RA=660, W=82, G=162, Playoffs=1),
 Pandas(Index=74, team='Qha', league='AL', year=1997, RS=733, RA=737, W=93, G=162, Playoffs=0),
 Pandas(Index=75, team='hsz', league='AL', year=1967, RS=722, RA=689, W=86, G=162, Playoffs=0),
 Pandas(Index=76, team='JYk', league='AL', year=2002, RS=602, RA=708, W=50, G=162, Playoffs=1),
 Pandas(Index=77, team='pxz', league='AL', year=2002, RS=764, RA=680, W=53, G=162, Playoffs=0),
 Pandas(Index=78, team='lco', league='AL', year=1979, RS=743, RA=736, W=61, G=162, Playoffs=1),
 Pandas(Index=79, team='omS', league='AL', year=1985, RS=709, RA=770, W=86, G=162, Playoffs=0),
 Pandas(Index=80, team='oVc', league='NL', year=1982, RS=786, RA=776, W=57, G=162, Playoffs=0),
 Pandas(Index=81, team='SCP', league='AL', year=1974, RS=791, RA=778, W=91, G=162, Playoffs=1),
 Pandas(Index=82, team='trN', league='AL', year=1988, RS=698, RA=644, W=69, G=162, Playoffs=0),
 Pandas(Index=83, team='AOE', league='AL', year=1976, RS=723, RA=617, W=77, G=162, Playoffs=0),
 Pandas(Index=84, team='ZvF', league='AL', year=2000, RS=760, RA=669, W=81, G=162, Playoffs=0),
 Pandas(Index=85, team='Ttm', league='AL', year=1982, RS=679, RA=672, W=76, G=162, Playoffs=1),
 Pandas(Index=86, team='QQA', league='NL', year=2005, RS=768, RA=760, W=55, G=162, Playoffs=0),
 Pandas(Index=87, team='xqz', league='AL', year=1965, RS=776, RA=797, W=91, G=162, Playoffs=1),
 Pandas(Index=88, team='kML', league='AL', year=1995, RS=648, RA=722, W=51, G=162, Playoffs=0),
 Pandas(Index=89, team='geF', league='AL', year=1972, RS=606, RA=683, W=67, G=162, Playoffs=0),
 Pandas(Index=90, team='zVf', league='NL', year=1992, RS=738, RA=711, W=80, G=162, Playoffs=1),
 Pandas(Index=91, team='nYE', league='NL', year=1995, RS=780, RA=758, W=77, G=162, Playoffs=1),
 Pandas(Index=92, team='yDg', league='NL', year=1969, RS=655, RA=789, W=93, G=162, Playoffs=1),
 Pandas(Index=93, team='WEW', league='AL', year=1998, RS=758, RA=613, W=66, G=162, Playoffs=1),
 Pandas(Index=94, team='Key', league='NL', year=2007, RS=795, RA=742, W=52, G=162, Playoffs=1),
 Pandas(Index=95, team='sVO', league='NL', year=2007, RS=737, RA=695, W=64, G=162, Playoffs=1),
 Pandas(Index=96, team='Pss', league='AL', year=1988, RS=653, RA=700, W=88, G=162, Playoffs=1),
 Pandas(Index=97, team='csb', league='AL', year=1998, RS=712, RA=768, W=99, G=162, Playoffs=1),
 Pandas(Index=98, team='aVb', league='NL', year=1989, RS=608, RA=696, W=50, G=162, Playoffs=0),
 Pandas(Index=99, team='elZ', league='AL', year=1982, RS=747, RA=789, W=56, G=162, Playoffs=1),
 Pandas(Index=100, team='Gaq', league='NL', year=1994, RS=759, RA=730, W=72, G=162, Playoffs=0),
 Pandas(Index=101, team='QBE', league='AL', year=2000, RS=789, RA=756, W=59, G=162, Playoffs=0),
 Pandas(Index=102, team='Gys', league='NL', year=1966, RS=609, RA=774, W=71, G=162, Playoffs=1),
 Pandas(Index=103, team='iJt', league='AL', year=1967, RS=635, RA=727, W=77, G=162, Playoffs=1),
 Pandas(Index=104, team='WTh', league='NL', year=1979, RS=739, RA=752, W=99, G=162, Playoffs=1),
 Pandas(Index=105, team='DqE', league='NL', year=1965, RS=671, RA=732, W=94, G=162, Playoffs=0),
 Pandas(Index=106, team='yjO', league='AL', year=1996, RS=625, RA=664, W=78, G=162, Playoffs=1),
 Pandas(Index=107, team='rog', league='AL', year=1964, RS=734, RA=747, W=90, G=162, Playoffs=1),
 Pandas(Index=108, team='SUP', league='AL', year=2010, RS=708, RA=613, W=66, G=162, Playoffs=1),
 Pandas(Index=109, team='hcY', league='AL', year=1974, RS=646, RA=757, W=66, G=162, Playoffs=0),
 Pandas(Index=110, team='fEh', league='NL', year=1990, RS=706, RA=774, W=67, G=162, Playoffs=1),
 Pandas(Index=111, team='BWX', league='AL', year=1984, RS=609, RA=697, W=69, G=162, Playoffs=0),
 Pandas(Index=112, team='bad', league='NL', year=1999, RS=687, RA=724, W=64, G=162, Playoffs=1),
 Pandas(Index=113, team='TnZ', league='NL', year=1976, RS=772, RA=709, W=50, G=162, Playoffs=0),
 Pandas(Index=114, team='gxY', league='NL', year=1970, RS=656, RA=745, W=53, G=162, Playoffs=1),
 Pandas(Index=115, team='ufW', league='AL', year=2007, RS=779, RA=779, W=79, G=162, Playoffs=1),
 Pandas(Index=116, team='jmR', league='NL', year=1993, RS=676, RA=714, W=72, G=162, Playoffs=1),
 Pandas(Index=117, team='HUp', league='NL', year=1964, RS=632, RA=792, W=95, G=162, Playoffs=1),
 Pandas(Index=118, team='WBs', league='AL', year=1964, RS=638, RA=788, W=98, G=162, Playoffs=1),
 Pandas(Index=119, team='tgm', league='AL', year=1978, RS=683, RA=618, W=56, G=162, Playoffs=1),
 Pandas(Index=120, team='lYI', league='AL', year=1967, RS=618, RA=663, W=98, G=162, Playoffs=1),
 Pandas(Index=121, team='Orz', league='AL', year=1989, RS=771, RA=645, W=52, G=162, Playoffs=0),
 Pandas(Index=122, team='WOQ', league='NL', year=1962, RS=654, RA=698, W=98, G=162, Playoffs=0),
 Pandas(Index=123, team='QGt', league='NL', year=2002, RS=646, RA=655, W=71, G=162, Playoffs=0),
 Pandas(Index=124, team='mOJ', league='AL', year=1994, RS=704, RA=798, W=60, G=162, Playoffs=0),
 Pandas(Index=125, team='MFa', league='AL', year=1990, RS=602, RA=731, W=78, G=162, Playoffs=1),
 Pandas(Index=126, team='QkN', league='AL', year=2010, RS=779, RA=793, W=66, G=162, Playoffs=1),
 Pandas(Index=127, team='KSZ', league='AL', year=1994, RS=618, RA=649, W=66, G=162, Playoffs=0),
 Pandas(Index=128, team='HQt', league='NL', year=1980, RS=715, RA=634, W=59, G=162, Playoffs=1),
 Pandas(Index=129, team='UBw', league='AL', year=1976, RS=638, RA=788, W=63, G=162, Playoffs=0),
 Pandas(Index=130, team='BGA', league='AL', year=1973, RS=648, RA=628, W=50, G=162, Playoffs=0),
 Pandas(Index=131, team='YCu', league='AL', year=1984, RS=781, RA=708, W=74, G=162, Playoffs=1),
 Pandas(Index=132, team='MJq', league='AL', year=1972, RS=690, RA=679, W=82, G=162, Playoffs=1),
 Pandas(Index=133, team='Xxa', league='AL', year=2000, RS=680, RA=672, W=91, G=162, Playoffs=0),
 Pandas(Index=134, team='ykK', league='NL', year=1983, RS=689, RA=680, W=96, G=162, Playoffs=1),
 Pandas(Index=135, team='vlo', league='NL', year=2009, RS=639, RA=665, W=72, G=162, Playoffs=0),
 Pandas(Index=136, team='yWZ', league='AL', year=1984, RS=787, RA=692, W=59, G=162, Playoffs=0),
 Pandas(Index=137, team='Tym', league='AL', year=1984, RS=628, RA=657, W=50, G=162, Playoffs=1),
 Pandas(Index=138, team='tdI', league='NL', year=2001, RS=751, RA=786, W=86, G=162, Playoffs=0),
 Pandas(Index=139, team='VuB', league='NL', year=1973, RS=735, RA=712, W=80, G=162, Playoffs=1),
 Pandas(Index=140, team='TbO', league='NL', year=1975, RS=628, RA=615, W=95, G=162, Playoffs=0),
 Pandas(Index=141, team='vor', league='AL', year=2010, RS=743, RA=732, W=88, G=162, Playoffs=0),
 Pandas(Index=142, team='eEu', league='AL', year=1992, RS=713, RA=756, W=88, G=162, Playoffs=1),
 Pandas(Index=143, team='YhM', league='NL', year=1978, RS=775, RA=742, W=50, G=162, Playoffs=1),
 Pandas(Index=144, team='imw', league='NL', year=1969, RS=672, RA=696, W=78, G=162, Playoffs=1),
 Pandas(Index=145, team='fXV', league='AL', year=1976, RS=659, RA=768, W=82, G=162, Playoffs=0),
 Pandas(Index=146, team='jlJ', league='NL', year=2010, RS=667, RA=606, W=65, G=162, Playoffs=0),
 Pandas(Index=147, team='Lqd', league='AL', year=1990, RS=624, RA=688, W=53, G=162, Playoffs=0),
 Pandas(Index=148, team='Ddh', league='AL', year=2010, RS=758, RA=771, W=66, G=162, Playoffs=1),
 Pandas(Index=149, team='Fct', league='NL', year=1972, RS=644, RA=700, W=52, G=162, Playoffs=1),
 Pandas(Index=150, team='hcI', league='AL', year=1982, RS=755, RA=743, W=65, G=162, Playoffs=0),
 Pandas(Index=151, team='JPE', league='AL', year=1996, RS=760, RA=785, W=74, G=162, Playoffs=0),
 Pandas(Index=152, team='UPO', league='NL', year=1986, RS=782, RA=774, W=73, G=162, Playoffs=0),
 Pandas(Index=153, team='pwM', league='NL', year=1995, RS=756, RA=636, W=76, G=162, Playoffs=0),
 Pandas(Index=154, team='LmY', league='AL', year=1976, RS=710, RA=724, W=90, G=162, Playoffs=1),
 Pandas(Index=155, team='GmW', league='AL', year=2003, RS=749, RA=744, W=61, G=162, Playoffs=1),
 Pandas(Index=156, team='fMf', league='NL', year=1973, RS=696, RA=607, W=72, G=162, Playoffs=0),
 Pandas(Index=157, team='gzR', league='AL', year=1966, RS=735, RA=800, W=93, G=162, Playoffs=1),
 Pandas(Index=158, team='FzF', league='AL', year=1978, RS=783, RA=658, W=92, G=162, Playoffs=0),
 Pandas(Index=159, team='kyu', league='AL', year=1968, RS=752, RA=645, W=51, G=162, Playoffs=1),
 Pandas(Index=160, team='bOi', league='AL', year=1981, RS=624, RA=786, W=90, G=162, Playoffs=0),
 Pandas(Index=161, team='EBZ', league='NL', year=2001, RS=734, RA=731, W=78, G=162, Playoffs=1),
 Pandas(Index=162, team='wjA', league='AL', year=1990, RS=749, RA=742, W=76, G=162, Playoffs=1),
 Pandas(Index=163, team='Osf', league='NL', year=1985, RS=768, RA=715, W=96, G=162, Playoffs=0),
 Pandas(Index=164, team='jCt', league='AL', year=1987, RS=800, RA=642, W=76, G=162, Playoffs=1),
 Pandas(Index=165, team='EvW', league='AL', year=1974, RS=778, RA=694, W=81, G=162, Playoffs=0),
 Pandas(Index=166, team='fKO', league='AL', year=1963, RS=717, RA=655, W=94, G=162, Playoffs=1),
 Pandas(Index=167, team='PSl', league='AL', year=1998, RS=722, RA=733, W=86, G=162, Playoffs=1),
 Pandas(Index=168, team='Wgk', league='AL', year=1997, RS=653, RA=771, W=76, G=162, Playoffs=1),
 Pandas(Index=169, team='aWw', league='AL', year=1973, RS=774, RA=730, W=80, G=162, Playoffs=1),
 Pandas(Index=170, team='fhW', league='NL', year=2007, RS=693, RA=603, W=50, G=162, Playoffs=0),
 Pandas(Index=171, team='yIg', league='AL', year=1969, RS=624, RA=771, W=52, G=162, Playoffs=0),
 Pandas(Index=172, team='TAc', league='AL', year=1965, RS=788, RA=652, W=52, G=162, Playoffs=1),
 Pandas(Index=173, team='tvu', league='AL', year=1983, RS=752, RA=739, W=84, G=162, Playoffs=1),
 Pandas(Index=174, team='roT', league='NL', year=1963, RS=749, RA=793, W=67, G=162, Playoffs=1),
 Pandas(Index=175, team='GzT', league='AL', year=1993, RS=771, RA=741, W=95, G=162, Playoffs=1),
 Pandas(Index=176, team='rmj', league='AL', year=1982, RS=600, RA=653, W=67, G=162, Playoffs=1),
 Pandas(Index=177, team='yTD', league='NL', year=1991, RS=659, RA=607, W=81, G=162, Playoffs=1),
 Pandas(Index=178, team='BJQ', league='NL', year=1972, RS=701, RA=792, W=82, G=162, Playoffs=0),
 Pandas(Index=179, team='rLY', league='NL', year=2003, RS=659, RA=747, W=76, G=162, Playoffs=1),
 Pandas(Index=180, team='EyP', league='NL', year=1994, RS=720, RA=625, W=60, G=162, Playoffs=0),
 Pandas(Index=181, team='MMt', league='NL', year=2004, RS=607, RA=686, W=87, G=162, Playoffs=0),
 Pandas(Index=182, team='kka', league='NL', year=1971, RS=727, RA=798, W=98, G=162, Playoffs=0),
 Pandas(Index=183, team='FCv', league='NL', year=1975, RS=761, RA=769, W=60, G=162, Playoffs=0),
 Pandas(Index=184, team='sqi', league='AL', year=1974, RS=779, RA=688, W=67, G=162, Playoffs=0),
 Pandas(Index=185, team='iKQ', league='AL', year=1981, RS=723, RA=781, W=54, G=162, Playoffs=0),
 Pandas(Index=186, team='uzP', league='NL', year=1968, RS=738, RA=637, W=89, G=162, Playoffs=0),
 Pandas(Index=187, team='PWo', league='NL', year=1992, RS=788, RA=710, W=56, G=162, Playoffs=0),
 Pandas(Index=188, team='pUF', league='NL', year=1993, RS=629, RA=639, W=59, G=162, Playoffs=1),
 Pandas(Index=189, team='qIT', league='AL', year=2003, RS=621, RA=800, W=98, G=162, Playoffs=1),
 Pandas(Index=190, team='OIl', league='NL', year=2007, RS=782, RA=601, W=79, G=162, Playoffs=1),
 Pandas(Index=191, team='ujz', league='AL', year=1996, RS=698, RA=741, W=76, G=162, Playoffs=0),
 Pandas(Index=192, team='cdO', league='NL', year=1968, RS=690, RA=661, W=89, G=162, Playoffs=1),
 Pandas(Index=193, team='KuP', league='NL', year=1972, RS=774, RA=652, W=61, G=162, Playoffs=1),
 Pandas(Index=194, team='pkY', league='NL', year=1977, RS=605, RA=746, W=94, G=162, Playoffs=1),
 Pandas(Index=195, team='EAL', league='AL', year=1970, RS=726, RA=658, W=69, G=162, Playoffs=1),
 Pandas(Index=196, team='qHr', league='NL', year=1998, RS=692, RA=748, W=68, G=162, Playoffs=0),
 Pandas(Index=197, team='vND', league='NL', year=1998, RS=702, RA=658, W=82, G=162, Playoffs=1),
 Pandas(Index=198, team='MOD', league='NL', year=1983, RS=615, RA=724, W=91, G=162, Playoffs=0),
 Pandas(Index=199, team='XEP', league='NL', year=1975, RS=721, RA=642, W=88, G=162, Playoffs=0),
 Pandas(Index=200, team='zKK', league='AL', year=1996, RS=603, RA=672, W=77, G=162, Playoffs=0),
 Pandas(Index=201, team='kNR', league='NL', year=2002, RS=718, RA=784, W=77, G=162, Playoffs=0),
 Pandas(Index=202, team='ZLv', league='NL', year=1988, RS=656, RA=791, W=80, G=162, Playoffs=0),
 Pandas(Index=203, team='xVU', league='NL', year=1963, RS=760, RA=616, W=83, G=162, Playoffs=0),
 Pandas(Index=204, team='rWT', league='NL', year=1996, RS=609, RA=611, W=60, G=162, Playoffs=1),
 Pandas(Index=205, team='TJs', league='AL', year=1992, RS=674, RA=702, W=64, G=162, Playoffs=0),
 Pandas(Index=206, team='GTh', league='AL', year=1963, RS=625, RA=634, W=53, G=162, Playoffs=1),