# creator

In [1]:
import random, string
import pandas as pd
from random import randint as rnd

def strings_creator(len):
    '''this function can give you len random strings'''
    return ''.join(random.choice(string.ascii_letters) for i in range(len))
def random_strings_list(string_length,list_length):
    '''this function need combine strings_creator to make long list'''
    return [strings_creator(string_length) for i in range(list_length)]

In [2]:
team = []
league = []
year = []
RS = []
RA = []
W_index = []
G_index = []
Playoffs = []
for data in range(1000):
    team.append(strings_creator(3))
    league.append(['AL','NL'][rnd(0,1)])
    year.append(rnd(1962,2013))
    RS.append(rnd(600,800))
    RA.append(rnd(600,800))
    W_index.append(rnd(50,99))
    G_index.append(162)
    Playoffs.append([0,1][rnd(0,1)])

In [3]:
df_zip = pd.DataFrame()
zip_data = zip(team,league,year,RS,RA,W_index,G_index,Playoffs)
list_data = list(zip_data)
df_zip = pd.DataFrame(list_data,columns=['team','league','year','RS','RA','W','G','Playoffs'])

In [4]:
df_zip.head()

  team league  year   RS   RA   W    G  Playoffs
0  GxW     NL  1995  774  602  83  162         0
1  NDA     AL  2013  672  639  73  162         0
2  pNw     NL  1974  799  610  86  162         0
3  QSu     AL  1966  623  638  58  162         1
4  mQh     NL  1975  789  736  90  162         0

# numpy cal

In [5]:
import numpy as np

In [6]:
def cal_win_perc(wins, games):
    win_perc = wins / games
    return np.round(win_perc,2)

In [7]:
win_test = cal_win_perc(50,100)
win_test

0.5

# add new percentage column

## with inefficiency way

In [20]:
%%timeit -r3 -n1
perc_col = []

for i in range(len(df_zip)):
    row = df_zip.iloc[i]
    win_data = row['W']
    game_data = row['G']
    perc_data = cal_win_perc(win_data, game_data)
    perc_col.append(perc_data)

df_zip['WG_perc']=perc_col
df_zip.head()

200 ms ± 29.3 ms per loop (mean ± std. dev. of 3 runs, 1 loop each)

## good way

In [19]:
%%timeit -r3 -n1
perc_col = []

for i,row in df_zip.iterrows():
    win_data = row['W']
    game_data = row['G']
    perc_data = cal_win_perc(win_data, game_data)
    perc_col.append(perc_data)

df_zip['WG_perc']=perc_col
df_zip.head()

97.6 ms ± 37.2 ms per loop (mean ± std. dev. of 3 runs, 1 loop each)